<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Erro</title>
</head>

<body>

    <div>
        <h1>
            <%= error.message %>
        </h1>
    </div>

    <div>
        <h2>
            <%= error.status %>
        </h2>
    </div>

    <div>
        <pre><%= error.stack %></pre>
    </div>

    <div>
        <form action="/autenticacao/logout" method="POST">
            <input type="submit" value="Sair" class="button button-sair">
        </form>
    </div>

</body>

</html>